<div class="row mb-5">
  <div class="col-md-1 offset-md-11">
  <%= link_to '<button type="button" class="btn btn-danger btn-lg">Login</button>'.html_safe, users_path %>
  </div>
</div>
<div class="row pt-5">
  <div class="col-mb-2 offset-md-4">
    <img src="depot.png">
  </div>
</div>
